.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-group-item:nth-of-type(odd) {
  background-color: #ccc;
}

.button {
  padding: 0.3rem 0.5rem;
  background-color: #61dafb;
  border: none;
  border-radius: 0.5rem;
  border-collapse: separate;
  float: left;
  margin-top: 0.5rem;
  margin-right: 100%; /* push text down */
}

.toggle {
  padding: 0.5rem;
  background-color: darkcyan;
  border: none;
  border-radius: 0.5rem;
  border-collapse: separate;
  color: white;
  width: 4rem;
}
